body {
    background-color: #294525;
}
#myVideo {
    position: relative;
    left: 450px;
    height: 99%;
    right: 0;
  }
.titulli {
    position: relative;
    text-align: center;
    top: 80px;
    color: orange;
    font-family: Cursive;
    text-transform: capitalize;
  }
.paragraf {
    position: relative;
    text-align: center;
    top: 120px;
    font-family: cursive;
    size: 0px;
    color: #499ab3;
}    

.foto {
  position: absolute;
  height: 354px;
  width: 450px;
  z-index: 1;
}
.sponsor {
  position: relative;
  width: 300px;
  height: 150px;
  top: 300px;
  left: 150px;
}
.sponsor:hover{
  cursor: pointer;
  transform: scale(1.01);
}

p {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  z-index: -1;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}